@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.transition-opacity {
  transition: opacity 200ms ease-in-out;
}

.will-change-opacity {
  will-change: opacity;
}
